<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Game</title>
</head>
<body>
    <img id="cat" alt="a cute cat" src="https://st3.depositphotos.com/2633985/12660/v/950/depositphotos_126600674-stock-illustration-cute-gray-cartoon-cat.jpg"></img>
    <p>Test</p>
    <script src="/javascript/pet-action.js"></script>
</body>
</html>