<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.topheader{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: aliceblue;
    text-align: center;
}
.container{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}
.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 40px;
    border-radius: 6px;
    background: #FFF;
    text-align: center;
    border: 3px solid black;
}

header{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
form{
    margin-top: 30px;
    text-align: center;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}

.field button{
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
}


</style>

<body>
  <div id="loginpage">
    <section class="container forms">
      <div class="form login">
        <div class="form-content">
          <header class="login">Login</header>

    <form class='login-form'>
    <div>
      <label for='email-login' placeholder="email">
      </label>
      <input placeholder='email' type='email' id='email-login' />
    </div>
    <div>
      <label for='password-login' placeholder="password">
      </label>
      <input placeholder='password' type='password' id='password-login' />
    </div>
    <div>
      <button type='submit'>
            login
      </button>
    </div>
  </form>
  <!--signup-->
  <form class='signup-form'>
    <header class="signup">Signup</header>
    <div>
      <label for='username-signup'>
      </label>
      <input placeholder="username" type='text' id='username-signup' />
    </div>
    <div>
      <label for='email-signup'>
      </label>
      <input placeholder='email' type='text' id='email-signup' />
    </div>
    <div>
      <label for='password-signup'>
      </label>
      <input placeholder="password" type='password' id='password-signup' />
    </div>
    <div>
      <button type='submit'>
        signup
      </button>
    </div>
  </form>
</div>
</body>
<script src='/javascript/login.js'></script>