<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Page</title>
</head>

<style>

    #button {
        position: relative;
        float: right;
        font-size: 30px;
    }

    header {
        position: relative;
        float: right;
        font-size: 30px;
    }

    #hero {
        background-color: aliceblue;
        padding: 50px;
        border-bottom: 5px solid black;
    }

    h1{
        font-size: 60px;
    }

    #progress-bar{
        margin: auto;
        width: 50%;
        text-align: center;
        font-size: 30px;
    }
</style>

<body>
   
    <div id="hero">
        <div id="button">
            <button type="button">LOG OUT</button>
        </div>
            
        <h1>CAT GAME</h1>
        <header>
            <a href="#">Home</a> |
            <a href="#">Leaderboard</a> |
            <a href="#">Training</a> 
        </header>
    </div>

    <div id="progress-bar">
        <h3>Level: {{level}} </h3>
        <progress></progress>
    </div>

    <div>
        
    </div>
    

</body>
</html>