<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Page</title>
</head>

<style>

    #button {
        position: relative;
        float: right;
        font-size: 30px;
    }

    header {
        position: relative;
        float: right;
        font-size: 30px;
    }

    #hero {
        background-color: aliceblue;
        padding: 50px;
        border-bottom: 5px solid black;
    }

    h1{
        font-size: 60px;
    }

    #progress-bar{
        margin: auto;
        width: 50%;
        text-align: center;
        font-size: 30px;
    }
</style>

<body>

        <div id="progress-bar">
            <h3>Level: {{level}} </h3>
            <progress></progress>
        </div>
    {{!-- Cat --}}
    <div>
            <input id="cat-button" type="image" a="cute cat" src="https://thumbs.dreamstime.com/z/cute-cartoon-cat-15087534.jpg" width="500px" height="250px">
    </div>

    <script src='/javascript/clicks.js'></script>

</body>
</html>